* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    padding: 15px 150px 15px 150px;
    display: flex;
    flex-direction: column;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.top h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    /* margin-bottom: -15px; */
}

.top .navigation,
.left p {
    font-size: 18px;
    color: #E5E7EB;
}

.navigation {
    list-style: none;
}

.header,
.header ul,
.part,
.left,
.top .two {
    display: flex;
}

.header ul {
    gap: 15px
}

.left {
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    height: 100%;
}

.sign-up {
    padding: 8px 16px;
    color: white;
    background-color: rgb(120, 120, 255);
    border-radius: 5px;
    margin-right: auto;
}


.top .one {
    justify-content: center;
    align-items: center;
    padding: 65px;
    gap: 25px;
    flex: initial;
    flex-wrap: wrap;
}

.top .image {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: lightslategray; */
    /* color: white; */
    /* padding: 120px 150px; */
    /* flex: 0 0 auto; */
    /* flex: initial; */
    width: 30vw;
}

.top img {
    /* height: 100%; */
    /* width: 100%; */
    /* object-fit: contain; */
}

.header {
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding: 0 65px 0 65px;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 25px;
    margin-top: -10px;

}

.part.two {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 65px;
    gap: 25px;
    flex: auto;
}

.two .container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .image {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    gap: 10px;
}

.part.three {
    background-color: #E5E7EB;
    padding: 85px 100px;
    align-items: center;
    justify-content: center;
}

.three .container {
    display: flex;
    flex-direction: column;
    width: 42%;
    gap: 10px;
    flex: initial;
}

.three blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.three figcaption {
font-weight: bold;
align-self: flex-end;
}

.part.four {
    padding: 75px 100px;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    border-radius: 10px;
    color: white;
    background-color: rgb(95, 95, 255);
    padding: 35px 85px;
    gap: 200px;
    flex: initial;
    flex-wrap: wrap;
}

.four .sign-up {
    border: 2px solid white;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: white;
    padding: 40px 15px;
}